@page "/"
@page "/konfiguration"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Konfiguration</PageTitle>

<div id="blockly-container"
     style="width:100%;height:700px;border:1px solid red;">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("blocklyInterop.init", "blockly-container");
        }
    }
}
